<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}EniFlix!{% endblock %}</title>
        <link rel="icon" href="{{asset('icon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <img src="{{ asset('logo.png') }}" alt="">
    <nav>
        <ul>
            <li> <a href="{{ path('home') }}">Home</a></li>
            <li> <a href="{{ path('app_serie') }}">Catalogue</a></li>
            <li> <a href="{{ path('serie_create') }}">Ajouter Série</a></li>
            <li> <a href="{{ path('season_create') }}">Ajouter Saison</a> </li>
        </ul>
    </nav>
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}



        {% block body %}

        {% endblock %}
    </body>
</html>
